$cubicBezier: cubic-bezier(0.590, 0.005, 0.000, 1.000);

$background: #7bc5db;
$highlight: #47657C;
$blue: #22738D;
$orange: #ff320e;
$deepBlue: #20222c;

$body-text: "source-sans-pro", "Source Sans Pro", Helvetica, Arial, sans-serif;
$petition-text: "droid-serif", "Droid Serif", Cambria, Georgia, Times, serif;
$heading: "bebas-neue", "Bebas Neue", "Franklin Gothic Condensed", "Helvetica Neue Condensed", sans-serif;

$base-font-size: 18px;
$base-line-height: 30px;
$relative-font-sizing: true;
@include establish-baseline;

$max-width: 1100px;
