/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "includes", "variables";
br.clear {
  clear: both;
  overflow: hidden;
  display: block;
  height: 1px;
  margin-bottom: -1px;
  width: 100%;
}

html {
  background: $background;
  @include background-image( linear-gradient(to right, #000 0%, #000 100%) );
  color: #FFF;
  font-family: $body-text;
  
}

body {
    background: url(img/bg-obama.png) no-repeat 2em top;
}

div.container {
  width: 90%;
  padding: 0 5%;
  max-width: $max-width;
  margin: 0 auto;
}

a {
  color: $highlight;
  text-decoration: none;
  @include box-shadow(inset 0 -3px 0 rgba(42, 119, 79, 0.5));
  &:hover {
    @include box-shadow(inset 0 -3px 0 rgba(42, 119, 79, 0.5));
  }
}

p {
  margin-top: 0;
  @include margin-trailer(0.75);
}

h1, h2, h3, h4, h5 {
  font-family: $heading;
  margin-top: 0;
  font-weight: normal;
}

/* Heading */

header {
  text-align: center;
  color: darken($background, 70%);
}

.intro-text {
    @include adjust-font-size-to(20px);
    line-height: 1.7em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

a.add-name {
  background: $orange;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border-radius: 2em;
  display: inline-block;
  position: relative;
  z-index: 5;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  bottom: -1.25em;
  svg {
    fill: lighten($orange, 40%);
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.5em;
    margin-top: -5px;
  }
}


h1 {
  font-family: $heading;
  @include padding-leader(0.3);
  font-weight: normal;
  @include adjust-font-size-to(64px);
  line-height: 1em;
  @include padding-leader(0.6);
  color: #7bc5db;

  span {
    @include adjust-font-size-to(14px);
    color: lighten($blue, 8%);
    line-height: 1.1em;
    display: block;
  }
}

/* Body */

main {
  @include column(8);
  @include box-shadow(0 3px 5px rgba(0,0,0,0.1));
  position: relative;
  z-index: 2;
  background: #FFF;
  overflow: hidden;
  color: #333;
  border-radius: 4px;
  @include padding-leader(1.5);
  @include padding-trailer(.5);
  @include transition(all 0.5s $cubicBezier);
  .padding {
    padding: 0 3em;
    padding-bottom: 0;
  }
  h2 {
    @include adjust-font-size-to(32px);
    @include margin-trailer(0.25);
  }
}

main article {
  font-family: $petition-text;
  margin: 0 2em;
  padding: 4em;
  background: #fdfdf8;
  @include background-image(linear-gradient(to bottom, #fdfdf8 0%,#f7f7ea 22%,#f7f7eb 33%,#fdfdf8 33.5%,#f7f7ea 60%,#f7f7eb 66%,#fdfdf8 66.5%,#f7f7ea 92%,#f0f0e3 100%));
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  color: darken(#fdfdf8, 80%);
  @include margin-leader(1.5);
  @include margin-trailer(1);
  @include padding-leader(3);
  @include padding-trailer(3);
  
}

#expand {
  display: block;
  z-index: 4;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  @include adjust-font-size-to(20px);
  background: #FFF;
  background: rgba(255, 255, 255, .98);
  text-shadow: 0 0 5px #FFF;
  text-align: center;
  box-shadow: 0px -3px 3px rgba(0,0,0,0.1);
  display: none;
}

p.featured {
  @include adjust-font-size-to(24px);
}

/* Sidebar */

aside {
  @include column(4);
  background: $deepBlue;
  color: lighten($deepBlue, 55%);
  border-top-right-radius: 5px;
  border: 3px solid $highlight;
  border-left: none;
  margin-right: -3px;
  border: none;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  h2 {
    color: #FFF;
  }
  .padding {
    padding: 2em;
  }
  p.disclaimer {
    @include adjust-font-size-to(13px);
    line-height: 1.5em;
    margin: 0;
    border-top: 1px solid lighten($deepBlue, 10%);
    @include padding-leader(1);
    @include margin-leader(1);
    color: lighten($deepBlue, 40%);
    text-align: center;
  }
}

#signatures {
  padding: 0 2em;
  @include padding-leader(1);
  @include padding-trailer(1);
  h2 {
    @include adjust-font-size-to(32px);
    @include margin-trailer(0.3);
    line-height: 1.1em;
    color: $deepBlue;
    span {
      display: block;
      color: #FFF;
      @include adjust-font-size-to(50px);
      line-height: 1em;
    }
  }
  
  background: $highlight;
  #signature-count {
    border-radius: 3em;
    background: darken($highlight, 70%);
    height: 0.8em;
    margin: 0 auto;
    padding: 0.2em;
    @include margin-trailer(1);
    span {
      display: block;
      background: $orange;
      border-radius: 3em;
      height: 100%;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        @include animation(pulse 2s 0s ease-in-out infinite);
        @include background-image(linear-gradient(to right, $orange 0%, lighten($orange, 25%) 50%, $orange 100%));
      }
    }
  }
  p {
    color: darken($highlight, 40%);
    @include adjust-font-size-to(15px);
    line-height: 1.3em;
    @include margin-trailer(0.5);
    em {
      color: darken($background, 80%);
      @include adjust-font-size-to(22px);
      padding-right: 0.1em;
    }
  }
  hr {
    border: none;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    display: block;
    width: 20%;
    text-align: left;
    margin: 0;
    @include margin-trailer(0.6);
  }
  h3 {
    margin: 0;
    color: #FFF;
    @include margin-trailer(0.4);
  }
  
}

form {
  @include padding-leader(0);
  p {
    margin-bottom: 0;
  }
  label {
    display: block;
    position: relative;
    @include margin-leader(0.8);
    @include margin-trailer(0.25);
  }
  /* input[type="email"]:focus + label,
  input[type="text"]:focus + label {
    @include transform(scale(0.5));
  }
  input[type="email"]:focus,
  input[type="text"]:focus {
    border-bottom: 3px solid $highlight;
  }
  p.checkbox {
    cursor: pointer;
  }
  input {
    clear: both;
    background-color: white;
    color: #FFF;
    border: none;
    border-bottom: 3px solid #fff;
    @include padding-trailer(0.25);
    width: 100%;
    @include transition(all 0.5s $cubicBezier);
    @include margin-leader(0.25);
    @include margin-trailer(0.25);
    
  }
  input[value=""] {
      @include transform(translate3d(0, -1.5em, 0));
  }
  input.filled, input:focus {
    @include transform(translate3d(0, 0, 0));
  } */
  input {
    border-radius: 2px;
    border: none;
    background: white;
    padding: 5%;
    display: block;
    width: 90%;
    color: $deepBlue;
    @include transition(all 0.5s $cubicBezier);
  }
  input:focus {
    box-shadow: 0 2px 3px #000, inset 0 0 0 3px $highlight;
    background: #FFF;
  }
  input[type=submit] {
    background: $orange;
    border: none;
    @include transform(none);
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 0;
    display: block;
    box-shadow: 0 2px 5px #000;
    width: 100%;
    &:hover {
      background: lighten($highlight,5%);
      box-shadow: 0 4px 10px #000;
    }
    &:active {
      background: darken($highlight,5%);
      box-shadow: 0 1px 2.5px #000;
    }
  }
  p.checkbox {
    @include padding-leader(1);
    input {
      @include column(1);
      @include transform(none);
    }
    label {
      margin: 0;
      @include adjust-font-size-to(13px);
      line-height: 1.1em;
      @include column(10.5);
      @include push(0.5);
      padding: 0;
      @include padding-trailer(1);
      
    }
  }
}

/* Loading */

#modal {
  background: $background;
  background: rgba(31, 54, 77, .95);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  div.container {
    width: 100%;
    height: 100%;
    display: table;
    }
  
  div.center {
    display: table-cell;
    vertical-align: middle;
    padding: 0 2em;
  }
  p {
    max-width: 380px;
    margin: 0 auto;
    color: lighten($background,55%);
    @include margin-trailer(0.5);
  }
  figure {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    @include margin-trailer(1);
    span {
      display: block;
    }
  }
  
  .spinner {
      width: 50px;
      height: 50px;
  }
   
  .spinner .circle {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: 5px solid $highlight;
  }
   
  .spinner .mask {
      width: 25px;
      height: 25px;
      overflow: hidden;
  }
   
}

/* Footer */

footer {
  @include padding-leader(1);
  @include padding-trailer(2);
  min-height: 1px;
  clear: both;
  img {
    display: block;
  }
}

@include keyframes(flyUp) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 150px, 0));
  }
  100% {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

h1, .intro-text, main, aside {
  @include animation(flyUp 1s 0.1s cubic-bezier(0.580, 0.000, 0.000, 1.000));
  @include animation-fill-mode(both);
}
.header {
  @include animation-delay(0.2s);
}
.intro-text {
  @include animation-delay(0.1s);
}
main, aside {
  @include animation-delay(0.3s);
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

div#modal figure .spinner {
  @include animation(spin 1s 0s linear infinite);
}

@include keyframes(pulse) {
  0% {
    @include transform(translate3d(0, 0, 0));
  }
  100% {
    @include transform(translate3d(200%, 0, 0));
  }
}

@media screen and (max-width: 830px) {
  main {
    @include column(7);
    @include adjust-font-size-to(16px);
    .padding {
      padding: 0 2em;
    }
  }
  aside {
    @include column(5);
  }
}

@media screen and (max-width: 640px) {
  body {
    padding: 0;
    background-size: 80% auto;
  }
  header {
    @include padding-leader(2);
    @include padding-trailer(1);
  }
  a.add-name {
    padding: 1em 2em;
    bottom: 0;
    line-height: 1em;
    svg {
      height: 1em;
    }
  }
  h1 {
    @include adjust-font-size-to(36px);
    line-height: 1.1em;
    padding: 0;
  }
  body {
    @include adjust-font-size-to(14px);
  }
  main {
    max-height: 180px;
    @include column(12);
    padding: 0;
    article {
      margin: 1em;
      padding: 2em;
    }
    .padding {
      padding: 1.5em;
      padding-bottom: 0;
    }
    p.featured, p {
      @include adjust-font-size-to(18px);
    }
    &.expanded {
      max-height: 2000px;
    }
  }
  aside {
    @include column(12);
    @include adjust-font-size-to(22px);
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  #expand {
    display: block;
  }
  .expanded #expand {
    display: none;
  }
  #signatures {
    #signature-count {
      margin-bottom: 0;
    }
    h2 {
      @include adjust-font-size-to(24px);
      line-height: 1em;
    }
    #we-need, hr {
      display: none;
    }
  }
  
}
